* {
  padding: 0;
  margin: 0;
}

#main-minigame {
  display: none;
}

#heading {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
}

#heading {
  margin: 0 auto;
}

#canvas {
  background: #99afa3;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

#c {
  background: #eeeeee;
  display: block;
  margin: 0 auto;
}

#timerel {
  background: #eeeeee;
  display: block;
  text-align: center;
  font-size: large;
}

#maze {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
